body {
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	/* font-family: 'Poppins', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif; */
}

/* first section :start */

#first-bolg {
	display: flex;
}

.continar {
	width: 100%;
	margin: 30px;

}

.content-row {
	width: 40%;
	float: left;
	margin: 10px;
}

.img-row {
	width: 40%;
	float: left;
}

.img-col img {
	width: 100%;
}

.content-col {
	width: 300px;
	border-left: 5px solid #b50f3d;
}

.content-row {
	width: 40%;
	float: left;
	margin-left: 100px;
	margin-top: 52px;
}

.img-col img {
	width: 75%;
}

.img-col img {
	width: 75%;
	margin-left: 145px;
	margin-top: -30px;
}

.content-col h2 {
	font-size: 45px;
}

.content-col {
	width: 318px;
}

.content-col {
	width: 450px;
	line-height: 43px;
	padding-left: 10px;
}

.content-pra {
	font-size: unset;
	font-family: 'Poppins';
	color: dimgrey;
	padding-bottom: 15px;
}

.content-pra p {
	padding-bottom: 30px;
}

a.click-there {
	text-decoration: none;
	background: #AA1E00;
	color: white;
	padding: 6px;
	padding: 13px 46px;
	border-radius: 5px;
	margin-top: 34px;
}

.div-help-span {
    margin-top: 30px;
    font-family: math;
    font-size: 15px;
}

h2.hadding2 {
	color: #e96010;
}

/* section number2 start */

.title-bar {
	/* margin: auto; */
	font-size: 26px;
	text-align: center;
	font-family: inherit;
	font-weight: 400;
}

.continer {
	width: 100%;
}



.ful-box {
	height: 250px;
	width: 300px;
	background-color: #EDF5F6;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 113px;
	float: left;
	
}


.box-icon1{
	margin-left: 135px;
	/* margin-right: 30px; */
	background-color: #aaebf3;
	
}

.box-icon2{
	margin-left: 50px;
}
.box-icon3{
	margin-left: 50px;
	margin-right: 30px;
	background-color: antiquewhite;
}
.icon-box {
	width: 50%;
	margin-left: 95px;
}



.icon-box img {
	width: 100px;
	margin-left: -10px;
}

.conetent-box p {
	font-size: 15px;
	font-family: serif;
	color: dimgrey;
	text-align: center;
}

h1.missin {
	margin: 0px;
	padding: 0px;
}


.icon-box {
	width: 50%;
	margin-left: 95px;
}



.icon-box img {
	width: 100px;
	margin-left: -10px;
}

.conetent-box p {
	font-size: 15px;
	font-family: serif;
	color: dimgrey;
	text-align: center;
}

h1.missin {
	margin: 0px;
	/* font-size: 24px; */
	padding: 0px;
	font-family: 'Poppins';
	font-size: 21px;
}
span.span-2022 {
    color: #db3270;
}
/* section number2 stop */
/* section number3 start */


.dvlp-img-row{
	width: 30%;
	float: left;
	margin-left: 120px;

}
.dvlp-img-row img{
	width:100%;
}
.dvlp-content-row {
    width: 50%;
    float: left;
    font-family: auto;
    margin-left: 65px;
    margin-top: 35px;
}
 .dvlp-col{
	width:100%;


}
.dvlp-col h1 {
    font-weight: 600;
    font-size: 40px;
    font-family: emoji;
}
.develop1{
	margin: 0px;
}

h1.develop2 {
    margin: 0;
}
.dvlp-col p {
	width: 620px;
    font-size: 18px;
    color: initial;
    font-family: -webkit-pictograph;
    margin-bottom:30px;
	text-align: left;
}
.dvlp-col a {
    text-decoration: none;
  
    background-color: #FF5959;
    color: white;
    padding: 12px 35px;
    border-radius: 10px;
    
}
/* section number4 start */

#devleper-tiem{
	display: inline-block;
	margin-top: 75px;
}
.dvlp-content-row.dvp-lift {
    margin-left: 120px;
}
.dvlp-content-row.dvp-lift p {
    width: 500px;
}
.dvlp-img-row.dvp-right {
    margin-left: 12px;
}
.dvlp-img-row.dvp-img-right {
    margin-left: 21px;
}

/* footer start */
footer#footer-end {
    background-color: black;
    height: 175px;
}
.footer-contern {
    text-align: center;
}
.footer-contern h1 {
    font-family: cursive;
	color: white;
	padding-top: 45px;
}

.footer-contern span {
    color: #CB4335;
    font-family: fantasy;
}
.footer-contern p {
    color: white;
    font-size: 15px;
    font-family: initial;
}